@import '../../styles/constants.scss';
.modalHeader{
  text-align: center;
  display: block!important;
  border: none!important;
  margin-bottom: 0;
  position: relative;
  font-family: $font-family-primary;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  font-size: 1.25rem;
}
.modalContent{
  padding: 1rem!important;
  background-color: lighten($color-main, 45)!important;
  border-radius: 5px!important;
  width: fit-content;
  box-shadow: 0 0 20px $color-shadow!important;
}

.modalBody{
  display: flex;
}

.modalIcon{
  position: absolute;
  width: fit-content;
  top: 1rem;
  right: 1rem;
  >div{
    height: 1.75rem;
  }
}

.overlay{
  background-color: $color-overlay!important;
}
