@import '../../styles/constants';

.centered {
  margin: 0 auto;
  width: fit-content;
  max-width: 100%;
}

.main {
  padding: 0 $padding-xl;
  width: 100%;
  max-width: $desktop;

  @media (max-width: $tablet) {
    padding: 0 $padding-lg;
  }

  @media (max-width: $mobile-m) {
    padding: 0 $padding-sm;
  }
}

.growing {
  flex: 1 0 auto;
}

.textCenter {
  text-align: center;
}
