@import '../../../styles/constants.scss';

.columnsWrapper {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: fit-content;
  height: 100%;
  padding-bottom: $padding-sm;
  &__add {
    background-color: $color-bg-light;
    background-color: transparent;
  }
}
