@mixin plus-button ($size, $border-color, $content-width, $content-color: $border-color, $bg-color: transparent, $color-hover:$border-color ) {
  width: $size;
  height: $size;
  display: block;
  border-radius: $border-radius-sm;
  background-color: $bg-color;
  border: $content-width solid $border-color;
  background-image: url("../../assets/svg/plus-btn.svg");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all $transition-duration-sm;

  &:hover {
    background-color: rgba($color-hover, 0.1);
    border-color: $color-hover;
    background-image: url("../../assets/svg/plus-btn-hover.svg");
  }
}
