@mixin plus-button ($size, $border-color, $content-width, $content-color: $border-color, $bg-color: transparent, $color-hover:$border-color ) {
  width: $size;
  height: $size;
  display: block;
  border-radius: $border-radius-sm;
  background-color: $bg-color;
  border: $content-width solid $border-color;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='45' height='45' viewBox='0 0 455 455' style='enable-background:new 0 0 455 455;' xml:space='preserve' fill='%23bebebe'%3E%3Cpolygon points='455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 455,242.5 '/%3E%3C/svg%3E%0A");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all $transition-duration-sm;

  &:hover {
    background-color: rgba($color-hover, 0.1);
    border-color: $color-hover;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='45' height='45' viewBox='0 0 455 455' style='enable-background:new 0 0 455 455;' xml:space='preserve' fill='%23ec7b3c'%3E%3Cpolygon points='455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 455,242.5 '/%3E%3C/svg%3E");
  }
}
