@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

$color-main: #ff7a00;
$color-main-light: #ff7a001d;
$color-secondary: #d54216;
$color-disabled: #d6d6d6;
$color-shadow: #939393;
$color-text: #000000;
$color-text-light: #fffaf8;
$color-border-main: #000000;
$color-border-main-light: #bebebe;
$color-bg-footer: #ffffff;
$color-hover: #ffffff;
$color-overlay: #3333338c;
$color-border-active: #e69163;

$font-family-primary: 'Nunito Sans', sans-serif;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

$font-weight-regular: 400;
$font-weight-bold: 600;

$mobile-s: 320px;
$mobile-m: 425px;
$tablet: 768px;
$desktop: 1280px;

$padding-xs: 0.325rem;
$padding-sm: 0.65rem;
$padding-md: 1rem;
$padding-lg: 1.25rem;
$padding-xl: 2rem;
$padding-xxl: 3rem;

$margin-xs: 0.325rem;
$margin-sm: 0.65rem;
$margin-md: 1.25rem;
$margin-lg: 2rem;

$gap-xs: 0.325rem;
$gap-sm: 0.65rem;
$gap-md: 1.25rem;
$gap-lg: 2rem;
$gap-xl: 2.5rem;

$border-radius-sm: 5px;
$border-radius-md: 10px;

$border-width-sm: 1px;
$border-width-md: 2px;

$transition-duration-sm: 0.15s;
$transition-duration-md: 0.3s;

$filter-hover-gray: invert(80%) sepia(0%) saturate(411%) hue-rotate(152deg) brightness(94%) contrast(96%);

$footer-break-point: 540px;
