@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

$color-main: #ec7b3c;
$color-main-hover: lighten($color-main, 10%);
$color-main-light: lighten($color-main, 35%);
$color-secondary: #d54216;
$color-disabled: #d6d6d6;
$color-shadow: #939393;
$color-danger: #d93232;
$color-danger-hover: #ec8383;
$color-success: #479c55;
$color-success-hover: #65b37a;
$color-error: $color-danger;
$color-text: #000000;
$color-text-light: #fffaf8;
$color-border-main: #000000;
$color-border-main-light: #bebebe;
$color-bg-light: #ffffff;
$color-bg-footer: $color-bg-light;
$color-hover: #ffffff;
$color-overlay: #3333338c;
$color-border-active: #e69163;
$color-spinner-light: #00000060;
$color-spinner-active: #ff3d00;
$color-modal-bg: #ffeede;

$font-family-primary: 'Nunito', sans-serif;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$mobile-s: 23.375em;
$mobile-m: 26.5em;
$tablet: 48em;
$desktop: 80em;

$padding-xs: 0.325em;
$padding-sm: 0.65em;
$padding-md: 1em;
$padding-lg: 1.25em;
$padding-l: 1.5em;
$padding-xl: 2em;
$padding-xxl: 3em;

$margin-xxs: 0.175em;
$margin-xs: 0.325em;
$margin-sm: 0.65em;
$margin-md: 1em;
$margin-lg: 1.25em;
$margin-xl: 2em;
$margin-xxl: 3em;

$gap-xs: 0.325em;
$gap-sm: 0.65em;
$gap-md: 1.25em;
$gap-lg: 2em;
$gap-xl: 2.5em;

$border-radius-sm: 5px;
$border-radius-md: 10px;

$border-width-sm: 1px;
$border-width-md: 2px;

$transition-duration-sm: 0.15s;
$transition-duration-md: 0.3s;

$filter-hover-gray: invert(80%) sepia(0%) saturate(411%) hue-rotate(152deg) brightness(94%) contrast(96%);

$footer-break-point: 33.75em;
$board-cards-break-point: 40em;

$width-column: 290px;
$width-scrollbar: 6px;

$height-scrollbar: 6px;
$height-header: 78px;
$height-footer: 57px;
$height-main: calc(100vh - $height-header - $height-footer);

$spinner-size: 65px;
$add-btn-size: 3rem;
