@import "./base";
@import "vendors";
@import "constants";

body,
html {
  font-family: $font-family-primary;
}

#root {
  height: 100%;
  overflow: hidden;
}

h1 {
  margin-bottom: $margin-lg;
  font-weight: $font-weight-bold;
}
