@import "./base";
@import "vendors";
@import "constants";

body,
html {
  font-family: $font-family-primary;
}

#root {
  height: 100%;
  overflow: hidden;
}

h1 {
  margin-bottom: $margin-lg;
  font-weight: $font-weight-bold;
}

::-webkit-scrollbar {
  width: $width-scrollbar;
  height: $height-scrollbar;
}

::-webkit-scrollbar-track {
  background: rgba($color-shadow, .2);
}

::-webkit-scrollbar-thumb {
  border-radius: $border-radius-md;
  background: rgba($color-shadow, .6);
}
