@import '../../../styles/constants.scss';
@import '../../../styles/templates';

.task {
  padding: $padding-sm $padding-md;
  border-radius: $border-radius-sm;
  box-shadow: 0px 2px 8px -2px $color-shadow;
  margin: $margin-xxs $margin-xs $margin-md $margin-xxs;
  background-color: $color-bg-light;
  @extend %flex-space-between;
  cursor: grab;
  &:last-child {
    margin-bottom: $margin-xs;
  }
  &__content {
    cursor: inherit;
  }
  &__title {
    font-size: $font-size-lg;
    font-family: $font-family-primary;
    font-weight: $font-weight-bold;
    margin-bottom: 0;
  }
  &__delete {
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    width: $padding-lg;
    height: $padding-lg;
    padding: 2px;
    flex-shrink: 0;
    align-self: flex-start;
    transition: all ease 0.3s;
    background-color: transparent;
  }
}

.task:hover .task__delete {
  visibility: visible;
  opacity: 1;
}
