@import '../../../styles/constants.scss';

.task {
  padding: $padding-sm $padding-md;
  border-radius: $border-radius-sm;
  box-shadow: 0px 2px 8px -2px $color-shadow;
  margin-bottom: $margin-md;
  background-color: $color-bg-light;
}

.description {
  text-align: center;
}

.title {
  font-size: $font-size-lg;
  font-family: $font-family-primary;
  font-weight: 700;
  margin-bottom: 0;
}
