@import "../../styles/constants.scss";
@import "../../styles/templates";

.boards {
  &__content {
    @extend %flex-space-between;
    flex-wrap: wrap;
  }
  &__empty {
    border: none;
    div {
      padding: 0;
      margin-left: 0;
    }
  }
  &__add {
    width: 4rem;
    height: 4rem;
    display: block;
    border-radius: $border-radius-sm;
    background-color: transparent;
    border: 2px solid $color-border-active;
    position: relative;
    @media screen and (max-width: $board-cards-break-point){
      margin: 0 auto;

    }
    &::before{
      content: '';
      width: 80%;
      height: 2px;
      background-color: $color-border-active;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
    &::after{
      content: '';
      height: 80%;
      width: 2px;
      background-color: $color-border-active;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
};
