@import "../../styles/constants";

.root {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  padding: $padding-lg 0;
}

.title {
  margin-bottom: $margin-lg;
}
