@import "../../styles/constants";

.board {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  padding: $padding-lg 0;
  height: $height-main;
  &__title {
    margin-bottom: $margin-lg;
  }
}
