@import "../../styles/constants";

.board {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: start;
  padding: $padding-lg 0;
  height: $height-main;
  &__title {
    margin-bottom: $margin-lg;
  }
  &__content {
    overflow-x: scroll;
    width: 100%;
    flex-grow: 1;
  }
}
