@import "../../styles/constants";

.wrapper {
  display: flex;
  flex: 1 0 auto;
  margin: $margin-xxl 0;

  @media screen and (max-width: $tablet) {
    flex-direction: column;
    gap: $gap-sm;
    margin: $margin-md 0;
  }
}

.mainContent {
  flex-grow: 1;
}
