@import '../../styles/constants';
@import '../../styles/templates';

.footer {
  padding: $padding-md 0;
  font-size: $font-size-sm;
  background-color: $color-bg-footer;
}

.footerContent {
  @extend %flex-space-between;
  align-items: center;
  column-gap: $gap-lg;
  row-gap: $gap-md;

  @media (max-width: $footer-break-point) {
    flex-wrap: wrap;
  }
}

.footerYear {
  flex-shrink: 0;
  margin: 0;
}

.footerAuthors {
  @extend %flex-center;
  column-gap: $gap-md;
  font-weight: $font-weight-bold;

  @media (max-width: $footer-break-point) {
    margin: 0 auto;
    width: 100%;
    order: -1;
  }
}

.authorItem {
  color: $color-text;
  text-align: center;
  transition: color $transition-duration-md ease;

  &:hover {
    color: lighten($color-text, 40%);
  }

  &:active {
    color: lighten($color-text, 30%);
  }
}
